body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#fumettiList {
    margin: 20px;
}

#addComicForm {
    display: flex;
    flex-direction: column;
}

#addComicForm input {
    margin: 5px 0;
    padding: 8px;
    font-size: 16px;
}

